/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 mar. 2022, 18:15:42
    Author     : fabia
*/

.navbar{
    
    height: 15vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    
    
}

.logo{
    
    width: 160px;
    cursor: pointer;
    
}

nav ul li{
    
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    
}

nav ul li a{
    
    text-decoration: none;
    color: black;
    
}