/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 mar. 2022, 17:55:00
    Author     : fabia
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');

*{
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', sans-serif;
    
}

body{
    
    margin:0;
    padding:0;
    background: linear-gradient(120deg,#65098C,#E6B8FA);
    height: 100vh;
    overflow:hidden;
    
}

.content{
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    transform: translate(-50%,-50%);
    
}

.content h1{
    
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    
}