<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    
    <head th:replace="plantilla/template::head"></head>
    
    <body>

        <header th:replace="plantilla/template::header"></header>
        
        <h2>Listado de Personas</h2>
        <a th:href="@{/personasN}">Nueva Persona</a>
        
        <div th:if="${personas != null and !personas.empty}">
        
            <table>
                
                <thead>
                    
                    <tr>
                        
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Pais</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        
                    </tr>
                    
                </thead>
                
                <tbody>
                    
                    <th:block th:each="user : ${personas}">
                        
                        <tr>
                        
                            <td th:text="${user.getNombre}"></td>
                            <td th:text="${user.getApellido1}"></td>
                            <td th:text="${user.getApellido2}"></td>
                            <td th:text="${user.getEmail}"></td>
                            <td th:text="${user.getTelefono}"></td>
                            <td th:text="${user.getPais.getPais}"></td>
                            <td><a th:href="@{/editPersona/{id}(id=${user.getId})}">Editar</a></td>
                            <td><a th:href="@{/delete/{id}(id=${user.getId})}">Eliminar</a></td>                         
                        
                        </tr>
                        
                    </th:block>
                    
                    
                </tbody>
                
            </table>
        
        </div>
        
        
        <div th:if="${personas == null or personas.empty}">
        
            No tenemos lista de clientes que mostrar
        
        </div>
        
        <footer th:replace="plantilla/template::footer"></footer>
        
    </body>
    
</html>
