<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Centro de Tutorias Believe</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <link rel="stylesheet" href="css/estudiantes.css"/>
            
    </head>
    
    <body>
        
        <div class="navbar"><!-- barra de navegacion -->
                
                <img src="images/educacion1.png" alt="alt" class="logo"/>
                
                <!--Navegacion-->
                <nav>
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="tutorias.html">Tutorias</a></li>
                        <li><a href="testimonios.html">Testimonios</a></li>
                        <li><a href="reservasonline.html">Reserva Ahora</a></li>
                        <li><a href="contactinfo.html">Informacion de Contacto</a></li>
                        <li><a href="profesores.html">Conoce a los profesores</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="login.html">Log Off</a></li>
                        <li><a href="estudiantes.html">Estudiantes</a></li>
                        <li><a href="crear.html">Crear Nuevo Estudiante</a></li> 
                    </ul> 
                </nav>     

        </div>

        
        <h2>Historial de Estudiantes</h2>

        
        <div th:if="${estudiantes != null and !estudiantes.empty}">
        
            <table>
                
                <thead>
                    
                    <tr>
                        
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido 1</th>
                        <th>Apellido 2</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Ubicacion</th>
                        <th>Eliminar</th>
                        
                    </tr>
                    
                </thead>
                
                <tbody>
                    
                    <th:block th:each="student : ${estudiantes}">
                        
                        <tr>
                        
                            <td th:text="${estudiante.getId}"></td>
                            <td th:text="${estudiante.getNombre}"></td>
                            <td th:text="${estudiante.getApellido1}"></td>
                            <td th:text="${estudiante.getApellido2}"></td>
                            <td th:text="${estudiante.getEmail}"></td>
                            <td th:text="${estudiante.getTelefono}"></td>
                            <td th:text="${estudiante.getUbicacion}"></td>
                            <td><a th:href="@{/delete/{id}(id=${event.getId})}">Eliminar</a></td>
                        
                        </tr>
                        
                    </th:block>
                    
                    
                </tbody>
                
            </table>
        
        </div>
        
        <!-- 
        <div th:if="${estudiantes == null or estudiantes.empty}">
        
            No tenemos historial de estudiantes
        
        </div> 
        -->
        
        
    </body>
    
</html>
